
/* Modificación de los estilos de la seccion PORFOLIO2 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.titulogaleria{
    color: #86ca01;
    margin-top: 15px;
    margin-bottom: 90px;
}

.subtitulogaleria{
    color: #efefef;
    margin-top: -100px;
}

.gallery-container{
    background: black;
    width: 80%;
    margin:100px auto;
    margin-top: 30px;
    

    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(4,300px);
    
}

.gallery-container .gallery-card{overflow: hidden};

.gallery-container .gallery-card a{
    width: 100%;
    height:100%;
    
}
.gallery-container .gallery-card a > img{
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: 0.5s;
    margin: 10 10;

}
.gallery-container .gallery-card a > img:hover{
    transform: scale(1.5) rotate(30deg);
}
